<%= simple_form_for [@course, @evaluation], html: { class: 'form-horizontal' } do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :tittle %>
    <%= form.text_field :tittle, id: :evaluation_tittle %>
  </div>

  <div class="form-group">
    <%= form.input :min_grade, id: :evaluation_min_grade %>
  </div>

  <div class="form-group">
    <%= form.input :date, id: :evaluation_date %>
  </div>

  <label for="Course">Course: </label>
  <%= @course.name %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
