<%= simple_form_for [@course, @evaluation], 
      html: { class: 'form-horizontal' } do |form| 
%>

  <div class="row col-sm-12">
    <div class="offset-sm-1"></div>
    <%= form.input :tittle, wrapper_html: { class: 'col-10' } %>
  </div>

  <div class="row col-sm-12">
    <div class="offset-sm-1"></div>
    <%= 
        form.input :min_grade, 
          id: :evaluation_min_grade, 
          wrapper_html: { class: 'col-4' } 
    %>
    <div class="offset-sm-2"></div>
    <%= 
        form.date_field :date,
          id: :evaluation_date, 
          class: 'col-4'
    %>
  </div>

<br>

  <div class="row">
    <span class="text-center col-sm-12" style="font-size: 20px;">
      <%= form.label "#{t(:course)}:" %>
      <%= @course.name %>
    </span>
  </div>

<br>

  <div class="text-center">
    <%= link_to t(:back), 
          course_evaluations_path, 
          class: 'btn btn-primary' 
    %>
    <%= form.submit t(:submit), class: 'btn btn-success' %>
  </div>

<% end %>
