<p id="notice"><%= notice %></p>

<h1>Evaluations<%= link_to 'New Evaluation', new_course_evaluation_path(@course), {:class =>'btn btn-primary', :style=>'margin-left:15px;'} %>
</h1>

<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Min grade</th>
      <th>Date</th>
      <th>Course</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.tittle %></td>
        <td><%= evaluation.min_grade %></td>
        <td><%= evaluation.date %></td>
        <td><%= evaluation.course %></td>
        <td><%= link_to 'Edit', edit_course_evaluation_path(@course, evaluation) %></td>
        <td><%= link_to 'Destroy', course_evaluation_path(@course, evaluation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

