<h1 class="text-center", style="margin-top: 30px;"> 
  <%= t(:evaluations) %>
  <%= link_to t(:new), 
        new_course_evaluation_path(@course), 
        class: 'btn btn-success', 
        style: 'margin-left:15px;' 
  %>
</h1>

<br>

<% if not @evaluations.empty? then %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> <%= t(:tittle, scope: [:activerecord, :attributes, :evaluation]) %>          
        </th>
        <th scope="col"> 
          <%= t(:min_grade, scope: [:activerecord, :attributes, :evaluation]) %>
        </th>
        <th scope="col"> 
          <%= t(:date, scope: [:activerecord, :attributes, :evaluation]) %>
        </th>
        <th scope="col"> <%= t(:course) %>         
        </th>
        <th colspan="2">                           
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render @evaluations %>      
    </tbody>
  </table>

<% else %>

  <div class="alert alert-danger" role="alert">
    <%= t(:add_evaluations) %>
  </div>

<% end %>

