<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @evaluation.tittle %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @evaluation.min_grade %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @evaluation.course %>
</p>

<%= link_to 'Edit', edit_course_evaluation_path(@course,@evaluation) %> |
<%= link_to 'Back', course_evaluations_path(@course) %>
