<br>
<h1 class="text-center"> 
  <%= t(:students) %>
  <%= link_to t(:new), 
        new_course_student_path, 
        class: 'btn btn-success', 
        style: 'margin-left:15px' 
  %>        
</h1>

<br>
<% if not @students.empty? then %>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col"> <%= t(:name) %>           </th>
      <th scope="col"> <%= t(:lastname) %>       </th>
      <th scope="col"> DNI                       </th>
      <th scope="col"> <%= t(:student_number) %> </th>
      <th scope="col"> <%= t(:course) %>         </th>
      <th colspan="2">                           </th>
    </tr>
  </thead>
  <tbody>
    
    <%= render @students %>

   </tbody>
</table>

<% else %>
  
  <div class="alert alert-danger" role="alert">
    <%= t(:add_students) %>
  </div>

<% end %>
<br>
