<p id="notice"><%= notice %></p>

<h1>Students<%= link_to 'Add Student', new_course_student_path, {:class=>'btn btn-primary', :style=>'margin-left:15px'} %></h1>

<br>

<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Dni</th>
      <th>Number</th>
      <th>Course</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.dni %></td>
        <td><%= student.number %></td>
        <td><%= student.course %></td>
        <td><%= link_to 'Edit', edit_course_student_path(@course, student) %></td>
        <td><%= link_to 'Destroy', course_student_path(@course, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
