<% students = course.students %>
<% evaluations = course.evaluations %>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> <%= t(:student) %> </th>
      <th scope="col"> <%= t(:number, scope: [:activerecord, :attributes, :student]) %> </th>
      <% evaluations.each do |evaluation| %>
        <th scope="col"><%= evaluation.tittle %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>  
    <% students.each do |student| %>
      <tr> 
        <td><%= student %></td>
        <td style="text-align: center;"><%= student.number %></td>
        <% evaluations.each do |evaluation| %>
          <% grade = evaluation.grades.where(student_id: student.id).take %>
          <td>
            <%= form_for grade, remote: true do |form| %>
              <div class="input-group">
                <%= form.number_field :grade, class: 'form-control',
                      placeholder: t(:absent) %>
                  <span class="input-group-btn">
                    <%= form.submit t(:submit), class: 'btn btn-success' %>    
                  </span>
              </div>
              <% end %>
          </td>
    	  <% end %>
      </tr> 
    <% end %>
      <tr>
        <td></td>
        <td></td>
        <% course.evaluations.each do |evaluation| %>
          <td>
            <p id="js-approved<%= evaluation.id %>" data-value="<%= evaluation.count_approved %>" >
              <%= "#{t(:approved_count)}: #{evaluation.count_approved}" %>
            </p>
            <p id="js-disapproved<%= evaluation.id %>" data-value="<%= evaluation.count_disapproved %>">
              <%= "#{t(:dissaprovved_count)}: #{evaluation.count_disapproved}" %>
            </p>
            <p id="js-absents<%= evaluation.id %>" data-value="<%= evaluation.count_absent %>">
              <%= "#{t(:ausent_count)}: #{evaluation.count_absent}" %>
            </p>
            <p id="js-percentage<%= evaluation.id %>" data-value="<%= evaluation.percentage_approved %>">
              <%= "#{t(:approved_percentage)}: #{evaluation.percentage_approved}" 
              %>
            </p>
          </td>
        <% end %>
      </tr>
  </tbody>
</table>
