<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> <%= t(:student) %> </th>
      <th scope="col"> <%= t(:number, scope: [:activerecord, :attributes, :student]) %> </th>
      <% course.evaluations.each do |evaluation| %>
        <th scope="col"><%= evaluation.tittle %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>  
    <% course.students.each do |student| %>
      <tr> 
        <td><%= student %></td>
        <td style="text-align: center;"><%= student.number %></td>
        <% student.grades.joins(:evaluation).order('date asc').each do |grade| %>
          <td>
            <%= select_tag :grade,
                  options_for_select(
                    (-1..10).map do |each|
                      if each == -1
                        [ "Ausente", -1 ]
                      elsif grade.evaluation.min_grade >= each
                        [ "#{each} (D)", each ]
                      else
                        [ "#{each} (A)", each ]
                      end
                    end, 
                    grade.grade
                  ),
                    class: 'form-control select2 col-sm-7',
                    data: {
                      url:       course_evaluation_grade_path(course, grade.evaluation, grade),      
                      method:    :put,
                      remote:    true,
                    }
            %>
          </td>
    	  <% end %>
      </tr> 
    <% end %>
      <tr>
        <td></td>
        <td></td>
        <% course.evaluations.each do |evaluation| %>
          <td>
            <%= "#{t(:approved_count)}: #{evaluation.count_approved}" %>
            <br>
            <%= "#{t(:dissaprovved_count)}: #{evaluation.count_disapproved}" %>
            <br>
            <%= "#{t(:ausent_count)}: #{evaluation.count_absent}" %>
            <br>
            <%= "#{t(:approved_percentage)}: #{evaluation.percentage_approved}" %>
          </td>
        <% end %>
      </tr>
  </tbody>
</table>
