<p id="notice"><%= notice %></p>

<h1>Courses</h1>
  <ul class="list-group">
    <% if not @courses.empty? then %>
    <% @courses.each do |course| %>
        <li class="list-group-item"><%= link_to "#{course.year} - #{course.name}", course, {:style => 'text-decoration: none; color:#e1121d;'} %>
          
          <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"float:right; height: 30px; width: 30px; display: inline;" do %>
            <img src=<%= image_url('remove.png')%> alt="Remove"> 
          <% end %>

          <%= link_to edit_course_path(course),{:style=>"margin-right: 30px;height: 30px; width: 30px; display: inline; float:right;"} do %>
            <img src=<%= image_url('edit.png') %> style="height: 30px; width: 30px;">
          <% end %>

      </li>  
        
    <% end %>
    <% else %>
    <p style="color: red">Create a course</p>
    <% end %>
  </ul>
<br>

<%= link_to 'New Course', new_course_path,{:class=>'btn btn-primary'} %>
