<p id="notice"><%= notice %></p>

<h1>Courses</h1>
  <ul class="list-group">
    <% @courses.each do |course| %>
        <li class="list-group-item"><%= link_to "#{course.year} - #{course.name}", course, {:style => 'text-decoration: none; color:#e1121d;'} %></li>
          <img style="height: 30px; width: 30px;" src=<%= image_url('edit.png') %> alt="Edit"> 
          <%= link_to "edit",edit_course_path(course) %>
          | 
          <img style="height: 30px; width: 30px;" src=<%= image_url('remove.png')%> alt="Remove"> 
          <%= link_to "delete", course, method: :delete, data: { confirm: 'Are you sure?' } %>
          
         
    <% end %>
  </ul>
<br>

<%= link_to 'New Course', new_course_path %>
