<p id="notice"><%= notice %></p>
<h1 style="display: inline;"><%= @course.year %> - <%= @course.name %></h1>  <%= link_to edit_course_path(@course),{:style=>"margin-left: 15px;height: 30px; width: 30px; display: inline;"} do %>
            <img src=<%= image_url('edit.png') %> style="height: 30px; width: 30px;">
          <% end %> 
<br>
<small>
	<%= link_to "Change course", courses_path%> 
</small>

<br>
<%= link_to "Students",course_students_path(@course), {:style =>'color:white;',:class =>'btn btn-primary'}%>
<%= link_to 'Evaluations', course_evaluations_path(@course), {:style =>'color:white;', :class =>'btn btn-primary'} %>

<br>
<br>
<br>

      <% if @course.evaluations.empty? then %>
        <p style="color: red;">No evaluations</p>
      <% else %>
        <% if @course.students.empty? then %>
          <p style="color: red;">No students</p>
        <% else %>

<table class="table table-stripped table-bordered table-responsive">
  <thead>
	<tr>
  		<th>Student</th>
  		<% @course.evaluations.each do |evaluation| %>
  			<th><%= evaluation.tittle %></th>
  		  <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>  
    	<% @course.students.each do |student| %>
        <tr>  
          <td><%= student %></td>
            <% student.grades.joins(:evaluation).order('date asc').each do |grade| %>
              <td>
                <%= if (grade.grade==-1) then 
                        "Ausente" 
                      else 
                        if grade.passed? then
                          "Aprobado(#{grade.grade})" 
                       else
                         "Desaprobado(#{grade.grade})"
                        end 
                      end 
                    %>      
              </td>
              <td><%= link_to 'Edit', edit_course_evaluation_grade_path(@course,grade.evaluation,grade) %></td> 
    	   <% end %>
        </tr> 
          <% end %>
      <tr>
        <% @course.evaluations.each do |evaluation| %>
<!-- Button trigger modal -->
<td></td>
<td>
<a href="#" data-toggle="modal" data-target=<%= "#modal#{evaluation.id}" %>>
  Resume view
</a>
</td>
<!-- Modal -->
<div class="modal fade" id="<%= "modal#{evaluation.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Approved: <%= evaluation.count_approved %>
        <br>
        Dissaproved: <%= evaluation.count_disapproved %>
        <br>
        Ausent: <%= evaluation.count_absent %>
        <br>
        Percentage approved: <%= evaluation.percentage_approved %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% end %>
      </td>
      </tr>
  </tbody>
</table>

<% end %>
<% end %>


