<ul class="row">
  <h1 style="text-align: center;">
    <%= @course.year %> - <%= @course.name %>
  </h1>  

  <%= 
    link_to edit_course_path(@course),
      style: 'margin-left: 15px; height: 30px; width: 30px; display: inline;' do 
  %>
    <img src=<%= image_url('edit.png') %> style="height: 30px; width: 30px;">
  <% end %> 
</ul>

<br>

<br>

<%= link_to t(:students),
      course_students_path(@course), 
      style: 'color:white;',
      class: 'btn btn-primary'
%>
<%= link_to t(:evaluations), 
      course_evaluations_path(@course), 
      style: 'color:white;', 
      class: 'btn btn-primary'
%>

<br>
<br>
<br>

<% if @course.evaluations.empty? then %>
  <div class="alert alert-danger" role="alert">
    <%= t(:add_evaluations) %>
  </div>
<% else %>
  <% if @course.students.empty? then %>
    <div class="alert alert-danger" role="alert">
      <%= t(:add_students) %>
    </div>
  <% else %>
    <%= render @course %>
  <% end %>
<% end %>


