<nav class="navbar navbar-expand navbar-dark bg-dark">
  <span class="navbar-brand" href="#"><img width="35" height="35" alt="" src=<%= image_url('ruby.png') %>></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav mr-auto">

			      <%- if (session[:actual_course]) then -%>
			        <% actual_course = Course.find(session[:actual_course]) %>
			      <li class="nav-item">
			    	<%= link_to actual_course, course_path(actual_course), :method => :get, :style =>'text-decoration:none', :class =>'nav-link' %>
			      </li>

			      <li class="nav-item">
			        <%= link_to t(:students), 
			              course_students_path(actual_course), 
			              style: 'text-decoration:none', 
			              class: 'nav-link' 
			        %>
			      </li>
			      <li class="nav-item">
			        <%= link_to t(:evaluations), course_evaluations_path(actual_course), style: 'text-decoration:none', class: 'nav-link' %>
			      </li>

			      <%- else -%>
			      <li class="nav-item">
			    	<%= link_to "Courses", courses_path, method: :get, style: 'text-decoration:none', class: 'nav-link' %>
			      </li>
			      <%- end -%>

			    </ul>
			    <ul class="navbar-nav right">
			      <%- if (session[:actual_course]) then -%>
			        <li class="nav-item">
			      	  <%= link_to t(:change_course), 
			      	        courses_path, method: :get, class: 'nav-link' 
			      	  %>
			        </li>
		    	  <%- end -%>
		    	  <%- if (current_user) then %>
		    	    <li class="nav-item">
		    	      <%= link_to t(:sign_out), 
		    		          destroy_user_session_path, method: :get, 
		    		          class: 'nav-link' 
		    	  	    %> 
		    	    </li>
		    	  <% end %>
		        </ul>
		  	</div>
			</nav>