<!DOCTYPE html>
<html>
  <head>
    <title>TPIRuby</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application_backend', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application_backend', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

	<header>
		<%= render './navbar' %>
	</header>


  <body style="padding-bottom: 30px;">
  	<br>
  	<br>
  	<div class="container" style="background-color: #ffffff; padding-bottom: 50px; padding-top: 30px;">

    <%= yield %>

      <section id="snackbar-container-l">
        <%= flash_messages if flash %>
      </section>

    </div>
  </body>
</html>
